// desc: 'Contain color variables'
$red: #d6120e;
$yellow: #ee8a0f;
$blue: #085dad;
$black: #000;
$white: #fff;
$gray: #545151;
$para-color: #afc6d2;
$btn-color: #d6d6d6;
$hover-gray: #a09e9e;

$border-color: #e5e3e3;

$bgraound-blue: #051b2df5;