// desc: 'Contain variables styles'

// button
$btn-radius: 25px;
$btn-font: 25px;
$btn-padding: 6px 10px;
$transition: all .2s ease-in-out;

// links
$link-font: 15px;
$link-font-family:'Poppins', sans-serif;