// desc: 'Contain variables styles'

// button
$btn-radius: 25px;
$btn-font: 16px;
$btn-padding: 10px 65px;
$btn-hvr: translateY(-10px);
$transition: all .3s ease-in-out;

// links
$link-font: 15px;
$poppins: 'Poppins', sans-serif;
$fira-mono :'Fira Mono', monospace;
$sans: sans-serif;


$heading-f-size: 35px;



// price plan

$plan-b-radius: 10px;

// media query
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;






// @media(max-width:767px){}
// @media(min-width:768px){}
// @media(min-width:992px){}
// @media(min-width:1200px){}