// desc: 'Contain variables styles'

// button
$btn-radius: 25px;
$btn-font: 20px;
$btn-padding: 5px 80px;
$btn-hvr: translateY(-10px);
$transition: all .3s ease-in-out;

// links
$link-font: 15px;
$poppins: 'Poppins', sans-serif;
$fira-mono :'Fira Mono', monospace;
$sans: sans-serif;


$heading-f-size: 35px;


