/* Start Import */
.btn-yellow, .btn-blue, .btn-gray, .btn-red {
  text-decoration: none;
  font-size: 20px;
  color: #d6d6d6;
  width: fit-content;
  padding: 5px 80px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  display: block; }

.navigation .navbar, .navigation .navbar .search-bar, .heading .header, .heading .header .header-list, .about-org .collaboration, .discover .services-row, .enterprise .enterprise-row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.npm-desc, .what-npm {
  height: 80vh;
  background-size: cover;
  background-position: center; }

.about-org .collaboration, .what-npm, .discover .services-row, .enterprise .enterprise-row {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around; }

.btn-yellow, .btn-blue, .btn-gray, .btn-red {
  text-decoration: none;
  font-size: 20px;
  color: #d6d6d6;
  width: fit-content;
  padding: 5px 80px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  display: block; }

.navigation .navbar, .navigation .navbar .search-bar, .heading .header, .heading .header .header-list, .about-org .collaboration, .discover .services-row, .enterprise .enterprise-row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.npm-desc, .what-npm {
  height: 80vh;
  background-size: cover;
  background-position: center; }

.about-org .collaboration, .what-npm, .discover .services-row, .enterprise .enterprise-row {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around; }

.btn-yellow {
  background-color: #ee8a0f; }
  .btn-yellow:hover {
    transform: translateY(-10px); }

.btn-blue {
  background-color: #085dad; }
  .btn-blue:hover {
    transform: translateY(-10px); }

.btn-gray {
  background-color: #3a3939; }
  .btn-gray:hover {
    transform: translateY(-10px); }

.btn-red {
  background-color: #e41818;
  margin: auto; }
  .btn-red:hover {
    transform: translateY(-10px); }

.btn-yellow, .btn-blue, .btn-gray, .btn-red {
  text-decoration: none;
  font-size: 20px;
  color: #d6d6d6;
  width: fit-content;
  padding: 5px 80px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  display: block; }

.navigation .navbar, .navigation .navbar .search-bar, .heading .header, .heading .header .header-list, .about-org .collaboration, .discover .services-row, .enterprise .enterprise-row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.npm-desc, .what-npm {
  height: 80vh;
  background-size: cover;
  background-position: center; }

.about-org .collaboration, .what-npm, .discover .services-row, .enterprise .enterprise-row {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around; }

.navigation .navbar {
  padding-top: 20px;
  padding-bottom: 20px; }
  .navigation .navbar .logo {
    width: 100px; }
    .navigation .navbar .logo img {
      max-width: 100%; }
  .navigation .navbar .search-bar {
    width: 60%;
    height: 50px; }
    .navigation .navbar .search-bar span {
      width: 40px;
      height: 40px;
      display: block;
      padding: 8px 0 0 13px; }
      .navigation .navbar .search-bar span img {
        max-width: 100%; }
    .navigation .navbar .search-bar input[type="search"] {
      color: #3a3939;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding-left: 15px;
      border-radius: 10px; }
      .navigation .navbar .search-bar input[type="search"]::placeholder {
        font-family: "Fira Mono", monospace;
        font-size: 15px; }
      .navigation .navbar .search-bar input[type="search"]:focus {
        border: 1px solid #a09e9e; }
  .navigation .navbar a {
    display: block;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 15px; }
    .navigation .navbar a:hover {
      color: #a09e9e; }

.btn-yellow, .btn-blue, .btn-gray, .btn-red {
  text-decoration: none;
  font-size: 20px;
  color: #d6d6d6;
  width: fit-content;
  padding: 5px 80px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  display: block; }

.navigation .navbar, .navigation .navbar .search-bar, .heading .header, .heading .header .header-list, .about-org .collaboration, .discover .services-row, .enterprise .enterprise-row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.npm-desc, .what-npm {
  height: 80vh;
  background-size: cover;
  background-position: center; }

.about-org .collaboration, .what-npm, .discover .services-row, .enterprise .enterprise-row {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around; }

.heading {
  border-bottom: 0.5px solid #e5e3e3; }
  .heading .header {
    font-family: "Poppins", sans-serif; }
    .heading .header p {
      width: 30%;
      color: #000;
      margin-bottom: 0; }
      .heading .header p i {
        margin-right: 20px;
        transition: all 0.3s ease-in-out; }
        .heading .header p i:hover {
          color: #a09e9e; }
      .heading .header p a {
        color: #000;
        font-size: 15px;
        transition: all 0.3s ease-in-out; }
        .heading .header p a:hover {
          color: #a09e9e; }
    .heading .header .header-list {
      width: 45%;
      margin-bottom: 0; }
      .heading .header .header-list li {
        display: inline-block; }
        .heading .header .header-list li a {
          color: #000;
          font-size: 15px;
          transition: all 0.3s ease-in-out; }
          .heading .header .header-list li a:hover {
            color: #a09e9e; }

.container {
  width: 80%;
  margin: auto; }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

.npm-desc {
  background: url(images/desc.SVG);
  padding: 90px 0; }
  .npm-desc .description {
    width: 30%;
    color: white;
    font-family: "Poppins", sans-serif; }
    .npm-desc .description h1 {
      font-size: 35px;
      margin-bottom: 15px;
      font-weight: 100;
      line-height: 1.2; }
    .npm-desc .description p {
      margin-top: 0;
      font-size: 15px;
      line-height: 1.7;
      color: #b7b3b3;
      margin-bottom: 35px; }

.about-org {
  background: #051b2df5; }
  .about-org .collaboration {
    width: 100%;
    align-items: stretch; }
    .about-org .collaboration .collab-img {
      width: 60%; }
    .about-org .collaboration .collab-desc {
      width: 40%;
      color: white;
      margin-left: 70px; }
      .about-org .collaboration .collab-desc h2 {
        margin-top: 0;
        font-weight: 100;
        margin-bottom: 0;
        font-family: "Poppins", sans-serif;
        font-size: 35px; }
      .about-org .collaboration .collab-desc ul {
        list-style: unset; }
        .about-org .collaboration .collab-desc ul li {
          line-height: 1.3;
          margin-bottom: 20px;
          font-size: 20px; }
      .about-org .collaboration .collab-desc a.learn-more {
        margin: auto;
        display: block;
        color: white;
        margin-top: 10px;
        width: fit-content;
        transition: all 0.3s ease-in-out;
        font-size: 20px; }
        .about-org .collaboration .collab-desc a.learn-more:hover {
          color: #a09e9e; }

.what-npm {
  background: url(images/npm-is-BOXES.svg);
  width: 100%; }
  .what-npm .desc {
    width: 30%;
    color: white;
    margin-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif; }
    .what-npm .desc h3 {
      font-weight: 100;
      line-height: 1.2;
      margin-bottom: 15px;
      font-size: 35px; }
    .what-npm .desc p {
      margin-top: 0;
      line-height: 1.7;
      color: #f0ebeb;
      margin-bottom: 35px;
      font-size: 15px; }
    .what-npm .desc a {
      padding: 5px 45px; }

.discover header {
  text-align: center; }
  .discover header h4 {
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 27px; }
  .discover header p {
    color: #3a3939;
    font-family: "Poppins", sans-serif;
    font-size: 15px; }
.discover .services-row .service-box {
  width: 25%;
  text-align: center; }
  .discover .services-row .service-box .image-box img {
    width: 80px; }
  .discover .services-row .service-box .explain .ex-head {
    color: black;
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    font-size: 20px; }
  .discover .services-row .service-box .explain p {
    color: #3a3939;
    margin-top: 5px;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 15px; }
    .discover .services-row .service-box .explain p span {
      color: #e41818;
      font-weight: 600;
      display: inline-block; }

.enterprise {
  background: #051b2df5; }
  .enterprise .enterprise-row .mountain-img {
    width: 40%; }
  .enterprise .enterprise-row .about-enterprise {
    width: 45%;
    color: #fff; }
    .enterprise .enterprise-row .about-enterprise h5 {
      font-size: 25px;
      font-weight: 100;
      margin-bottom: 25px;
      font-family: "Poppins", sans-serif; }
    .enterprise .enterprise-row .about-enterprise p {
      color: #d6d6d6;
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 40px;
      font-family: "Poppins", sans-serif; }
    .enterprise .enterprise-row .about-enterprise a {
      margin: unset;
      font-size: 15px;
      padding: 5px 18px;
      font-family: "Poppins", sans-serif; }

/*# sourceMappingURL=style.css.map */
