// desc: 'Contain buttons styles'
@import "partials/colors";
@import "partials/extend-classes";

.btn-yellow{
    @extend %btn ;
    background-color: $yellow ;
    &:hover{
        transform: $btn-hvr;
    }
}

.btn-blue{
    @extend %btn;
    background-color: $blue;
    &:hover{
        transform: $btn-hvr;
    }
}
.btn-gray{
    @extend %btn;
    background-color: $gray;
    &:hover{
        transform: $btn-hvr;
    }
}
.btn-red{
    @extend %btn;
    background-color: $red;
    &:hover{
        transform: $btn-hvr;
    }
}