// desc: 'Contain headers styles on every page'
@import "partials/extend-classes";
@import "partials/colors";
@import "partials/variables";
@import "partials/mixins";


.header {
   border-bottom: .5px solid $border-color;
   .head {
      @extend %display-flex;
      font-family: $poppins;
      p {
         width: 32%;
         color: $black;
         margin-bottom: 0;
         @include when-xs{  //extra small screen
            width: 65%;
         }
         i {
            margin-right: 5px;
            transition: $transition;
            &:hover{
               color: $hover-gray;
            }
         }
         a {
            color: $black;
            font-size: $link-font + 5;
            transition: $transition;
            &:hover {
               color: $hover-gray;
               }
            }
         }
         .toggle{
            display: none;
            border: none;
            color: $black;
            outline: none;
            cursor: pointer;
            background: none;
            font-size: $heading-f-size - 5;
            @include when-xs{       //extra small screen
               display: block;
               margin-top: 16px;
            }
            @include when-sm{       //small screen
               display: block;
               margin-top: 16px;
            }
            @include when-md{ //medium screen
               display: none;
            }
         }
      .header-list {
         @extend %display-flex;
         width: 45%;
         margin-bottom: 0;
         @include when-xs{ //extra small screen
            width: 100%;
            padding: 0;
            display: none;
         }
         @include when-sm{       //small screen
            display: none;
            width: 100%;
            padding: 0;
         }
         @include when-md{       //medium screen
            display: flex;
            width: 55%;
         }
         li {
            display: inline-block;
            @include when-xs{ //extra small screen
               width: 100%;
               margin-bottom: 15px;
            }
            @include when-sm{ //small screen
               width: 100%;
               margin-bottom: 15px;
            }
            @include when-md{ //medium screen
               display: inline-block;
               width: fit-content;
               margin-bottom: 0;
               font-size: $link-font + 5;
            }
            a {
               color: $black;
               transition: $transition;
               &:hover {
                  color: $hover-gray;
               }
            }
         }
      }
   }
}